<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUCCEEDED</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="loading-screen">
        <h1>Loading...</h1>
    </div>
    <script>
      window.addEventListener('load', function() {
          // When the page is fully loaded, hide the loading screen
          document.getElementById('loading-screen').style.display = 'none';
      });
    </script>
    <h1>Mission Succceded!!</h1>
    <p class="epilogue">The crystal in their hands suddenly began to glow, and the area was filled with a roar in response. The earth began to rise. It was time to go. We returned to the submarine and left, watching the earth rise toward the sky. Later, a continent in the sky would be discovered and called "shukutopia," but that is another story.</p>
    {% if episode %}
        {% for i in range(1, 4) %}
            <img src="static/img/crystal_img.png" class="crystal">
        {% endfor %}
    {% endif %}
    <a href="/">Go back to the first page.</a>
</body>
</html>